﻿/* Body */
body {
	/*background: url(../images/form-wizard-bg.jpg);*/
	background: none;
	/*background-image: linear-gradient(to right, #16071D, #281A2E);*/
	background-image: linear-gradient(to right, #eba834, #FFDF28);
	background-color: #A142C7;
}

/* Highlight button color overwrite */
.steps ul li.first a, .steps ul li.checked a {
	/*background: #f3d4b7;*/
	background: #FFE44C;
}

/* Submit button overwrite */
.actions li a:hover {
	/*background: #d9bda3;*/
	background: #FFDF28;
}

.actions li a {
	/*background: #f3d4b7;*/
	background: #FFF19F;
}

/* Text Label Update*/
.steps ul:before, .steps ul {
	/*content: "Billing Details";*/
	content: "Workshop Survey";
}

.steps ul.step-2:before, .steps ul.step-2 {
	/*content: "Additional Information";*/
	content: "Future Topics";
}

.steps ul.step-3:before, .steps ul.step-3 {
	/*content: "Your Order";*/
	content: "Step 3 Title";
}

.steps ul.step-4:before, .steps ul.step-4 {
	/*content: "Billing Method";*/
	content: "Step 4 Title";
}

/* ALert overwrite */
.alert {
	padding: 15px;
	margin-bottom: 20px;
	border: 1px solid transparent;
	border-radius: 4px;
}

.alert-success {
	color: #3c763d;
	background-color: #dff0d8;
	border-color: #d6e9c6;
}

.alert-info {
	color: #31708f;
	background-color: #d9edf7;
	border-color: #bce8f1;
}

.alert-warning {
	color: #8a6d3b;
	background-color: #fcf8e3;
	border-color: #faebcc;
}

.alert-danger {
	color: #a94442;
	background-color: #f2dede;
	border-color: #ebccd1;
}