﻿/*.marquee {
	overflow: hidden;
	width: 100%;
	height: 80px;
}

.marquee ul {
	list-style: none;
	margin: 0;
	padding: 0;
}*/

/* CSS Marquee Styling */
.marquee {
	width: 100%;
	height: 80px;
	overflow: hidden;
	-webkit-box-pack: end;
	-ms-flex-pack: end;
	justify-content: flex-end;
	-webkit-box-align: center;
	border: 1px solid #ebedf2;
	border-radius: 4px;
	padding: 15px 20px;
	background: #fafafa;
}

/* CSS Form Verification Styling */
.has-error input[type="text"], .has-error input[type="email"], .has-error input[type="tel"], .has-error select, .has-error textarea {
	border: 1px solid #a94442;
}

label.has-error {
	color: #a94442;
}

/* Rich Ttext Editor Styling */
.ck.ck-editor {
	height: 300px;
}